CONFIG_ARM_QCOM_CPUFREQ_HW=y
CONFIG_BT_HCIUART_3WIRE=y
CONFIG_BT_HCIUART_QCA=y
CONFIG_BT_HCIUART_RTL=y
CONFIG_CRYPTO_DEV_QCOM_RNG=y
CONFIG_EXTCON_QCOM_SPMI_MISC=y
CONFIG_INTERCONNECT=y
CONFIG_MFD_QCOM_RPM=y
CONFIG_PHY_QCOM_PCIE2=y
CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_QUSB2=y
CONFIG_PHY_QCOM_UFS=y
CONFIG_PM8916_WATCHDOG=y
CONFIG_POWER_RESET_QCOM_PON=y
CONFIG_QCOM_APR=y
CONFIG_QCOM_FASTRPC=y
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_QCOM_RPMHPD=y
CONFIG_QCOM_RPMPD=y
CONFIG_QCOM_SOCINFO=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_QCOM_WCNSS_PIL=y
CONFIG_SCSI_UFS_QCOM=y
CONFIG_SND_SOC_CROS_EC_CODEC=y
CONFIG_SND_SOC_MAX98927=y
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=y
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=y
CONFIG_VIDEO_QCOM_CAMSS=y
CONFIG_VIDEO_QCOM_VENUS=y
CONFIG_WCN36XX=y
CONFIG_BT_QCA=y
CONFIG_BT_QCOMSMD=y
CONFIG_INTERCONNECT_QCOM=y
CONFIG_INTERCONNECT_QCOM_MSM8974=y
CONFIG_INTERCONNECT_QCOM_QCS404=y
CONFIG_INTERCONNECT_QCOM_SDM845=y
CONFIG_INTERCONNECT_QCOM_SMD_RPM=y
CONFIG_PHY_QCOM_UFS_14NM=y
CONFIG_QCOM_CLK_RPM=y
CONFIG_REGULATOR_QCOM_RPM=y
CONFIG_SND_COMPRESS_OFFLOAD=y
CONFIG_SND_SOC_COMPRESS=y
CONFIG_SND_SOC_MSM8996=y
CONFIG_SND_SOC_QCOM_COMMON=y
CONFIG_SND_SOC_QDSP6=y
CONFIG_SND_SOC_QDSP6_ADM=y
CONFIG_SND_SOC_QDSP6_AFE=y
CONFIG_SND_SOC_QDSP6_AFE_DAI=y
CONFIG_SND_SOC_QDSP6_ASM=y
CONFIG_SND_SOC_QDSP6_ASM_DAI=y
CONFIG_SND_SOC_QDSP6_COMMON=y
CONFIG_SND_SOC_QDSP6_CORE=y
CONFIG_SND_SOC_QDSP6_ROUTING=y
CONFIG_SND_SOC_RT5663=y
CONFIG_SND_SOC_SDM845=y
CONFIG_VIDEOBUF2_DMA_SG=y
CONFIG_WCN36XX_DEBUGFS=y
CONFIG_PINCTRL_MSM8976=y
CONFIG_MSM_GCC_8976=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_BOOTPARAM_HUNG_TASK_PANIC=y
CONFIG_WQ_WATCHDOG=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_PANIC_TIMEOUT=3
# CONFIG_DEBUG_SPINLOCK is not set
# CONFIG_DEBUG_MUTEXES is not set
# CONFIG_DEBUG_ATOMIC_SLEEP is not set
# CONFIG_PROVE_LOCKING is not set
CONFIG_ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT=n
CONFIG_IOMMU_DEFAULT_PASSTHROUGH=y
CONFIG_BLK_DEV_RAM=y
