# This config contains all additional properties which
# are device and project specific

CONFIG_LOCALVERSION="_LA.BR.1.3.7_rb1.11"

CONFIG_LOG_BUF_SHIFT=20

# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV_v21 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_v21 is not set
# CONFIG_TOUCHSCREEN_ATMEL_MXT is not set
# CONFIG_TOUCHSCREEN_FT5X06 is not set
# CONFIG_TOUCHSCREEN_GEN_VKEYS is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_RMI4 is not set
# CONFIG_TOUCHSCREEN_BU21150 is not set

# CONFIG_SND_PCI is not set
# CONFIG_AUDIO_OCMEM is not set

# CONFIG_HID_APPLE is not set
# CONFIG_HID_ELECOM is not set
# CONFIG_HID_MAGICMOUSE is not set
# CONFIG_HID_MICROSOFT is not set
