# CONFIG_AMD_XGBE is not set
CONFIG_ANDROID=y
# CONFIG_AQUANTIA_PHY is not set
# CONFIG_ARCH_ACTIONS is not set
# CONFIG_ARCH_AGILEX is not set
# CONFIG_ARCH_ALPINE is not set
# CONFIG_ARCH_BCM2835 is not set
# CONFIG_ARCH_BCM_IPROC is not set
# CONFIG_ARCH_BERLIN is not set
# CONFIG_ARCH_BRCMSTB is not set
# CONFIG_ARCH_EXYNOS is not set
# CONFIG_ARCH_HISI is not set
# CONFIG_ARCH_K3 is not set
# CONFIG_ARCH_LAYERSCAPE is not set
# CONFIG_ARCH_LG1K is not set
# CONFIG_ARCH_MEDIATEK is not set
# CONFIG_ARCH_MESON is not set
# CONFIG_ARCH_MVEBU is not set
# CONFIG_ARCH_MXC is not set
# CONFIG_ARCH_RENESAS is not set
# CONFIG_ARCH_ROCKCHIP is not set
# CONFIG_ARCH_S32 is not set
# CONFIG_ARCH_SEATTLE is not set
# CONFIG_ARCH_SPRD is not set
# CONFIG_ARCH_STRATIX10 is not set
# CONFIG_ARCH_SUNXI is not set
# CONFIG_ARCH_SYNQUACER is not set
# CONFIG_ARCH_TEGRA is not set
# CONFIG_ARCH_THUNDER is not set
# CONFIG_ARCH_THUNDER2 is not set
# CONFIG_ARCH_UNIPHIER is not set
# CONFIG_ARCH_VEXPRESS is not set
# CONFIG_ARCH_XGENE is not set
# CONFIG_ARCH_ZX is not set
# CONFIG_ARCH_ZYNQMP is not set
CONFIG_ARM64_SW_TTBR0_PAN=y
# CONFIG_ARM_CPUIDLE is not set
# CONFIG_ARM_MHU is not set
# CONFIG_ARM_PSCI_CPUIDLE is not set
# CONFIG_ARM_QCOM_CPUFREQ_HW is not set
# CONFIG_ARM_SBSA_WATCHDOG is not set
# CONFIG_ARM_SCPI_PROTOCOL is not set
# CONFIG_ARM_SMMU is not set
# CONFIG_ARM_SMMU_V3 is not set
# CONFIG_ARM_SP805_WATCHDOG is not set
# CONFIG_AT803X_PHY is not set
# CONFIG_ATA is not set
# CONFIG_ATH10K is not set
# CONFIG_ATL1C is not set
CONFIG_BACKLIGHT_GENERIC=y
# CONFIG_BACKLIGHT_LP855X is not set
CONFIG_BACKLIGHT_PWM=y
# CONFIG_BATTERY_BQ27XXX is not set
# CONFIG_BATTERY_SBS is not set
# CONFIG_BCM7XXX_PHY is not set
# CONFIG_BCMGENET is not set
# CONFIG_BLK_DEV_BSGLIB is not set
CONFIG_BLK_DEV_DM=y
# CONFIG_BLK_DEV_INTEGRITY is not set
# CONFIG_BLK_DEV_MD is not set
# CONFIG_BLK_DEV_NBD is not set
# CONFIG_BLK_DEV_NVME is not set
CONFIG_BLK_DEV_RAM=y
CONFIG_BMA180=y
CONFIG_BMC150_ACCEL=y
CONFIG_BMC150_MAGN_I2C=y
CONFIG_BMG160=y
# CONFIG_BNX2X is not set
CONFIG_BPF_SYSCALL=y
# CONFIG_BRCMFMAC is not set
# CONFIG_BRCMSTB_GISB_ARB is not set
CONFIG_BRIDGE=y
# CONFIG_BROADCOM_PHY is not set
CONFIG_BT=y
# CONFIG_BTRFS_FS is not set
CONFIG_BT_BCM=y
CONFIG_BT_DEBUGFS=y
CONFIG_BT_HCIBTUSB=y
# CONFIG_BT_HCIUART is not set
CONFIG_BT_HIDP=y
CONFIG_BT_HS=y
CONFIG_BT_INTEL=y
CONFIG_BT_LE=y
CONFIG_BT_QCA=y
CONFIG_BT_RTL=y
# CONFIG_CAN is not set
CONFIG_CFG80211=y
CONFIG_CGROUP_FREEZER=y
# CONFIG_CHROME_PLATFORMS is not set
# CONFIG_CLK_QORIQ is not set
# CONFIG_COMMON_CLK_CS2000_CP is not set
# CONFIG_COMMON_CLK_PWM is not set
# CONFIG_COMMON_CLK_VC5 is not set
# CONFIG_COMMON_CLK_VERSATILE is not set
# CONFIG_COMMON_CLK_XGENE is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
# CONFIG_CRC7 is not set
# CONFIG_CRC_CCITT is not set
# CONFIG_CRC_ITU_T is not set
# CONFIG_CRC_T10DIF is not set
CONFIG_CRYPTO_AES_ARM64_BS=y
CONFIG_CRYPTO_AES_ARM64_NEON_BLK=y
CONFIG_CRYPTO_ARCH_HAVE_LIB_CHACHA=y
CONFIG_CRYPTO_AUTHENC=y
# CONFIG_CRYPTO_BLAKE2B is not set
CONFIG_CRYPTO_CCM=y
CONFIG_CRYPTO_CHACHA20_NEON=y
CONFIG_CRYPTO_CMAC=y
CONFIG_CRYPTO_CRC32=y
# CONFIG_CRYPTO_CRCT10DIF is not set
CONFIG_CRYPTO_CTR=y
CONFIG_CRYPTO_CTS=y
CONFIG_CRYPTO_DES=y
# CONFIG_CRYPTO_DEV_AMLOGIC_GXL is not set
# CONFIG_CRYPTO_DEV_CCREE is not set
# CONFIG_CRYPTO_DEV_HISI_ZIP is not set
CONFIG_CRYPTO_DEV_QCOM_RNG=y
# CONFIG_CRYPTO_DEV_VIRTIO is not set
CONFIG_CRYPTO_ECC=y
CONFIG_CRYPTO_ECDH=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_CRYPTO_GCM=y
CONFIG_CRYPTO_GHASH=y
CONFIG_CRYPTO_KPP=y
CONFIG_CRYPTO_LIB_ARC4=y
CONFIG_CRYPTO_LIB_CHACHA_GENERIC=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_CRYPTO_MD5=y
CONFIG_CRYPTO_NHPOLY1305_NEON=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_CRYPTO_SHA3=y
CONFIG_CRYPTO_SHA3_ARM64=y
CONFIG_CRYPTO_SHA512=y
CONFIG_CRYPTO_SHA512_ARM64=y
CONFIG_CRYPTO_SHA512_ARM64_CE=y
CONFIG_CRYPTO_SM3=y
CONFIG_CRYPTO_SM3_ARM64_CE=y
CONFIG_CRYPTO_SM4=y
CONFIG_CRYPTO_SM4_ARM64_CE=y
CONFIG_CRYPTO_USER_API=y
CONFIG_CRYPTO_USER_API_AEAD=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_RNG=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_CRYPTO_XTS=y
# CONFIG_CRYPTO_XXHASH is not set
CONFIG_CRYPTO_ZSTD=y
CONFIG_CUSE=y
CONFIG_DEBUG_LIST=y
# CONFIG_DEBUG_MEMORY_INIT is not set
# CONFIG_DEFAULT_SECURITY_DAC is not set
# CONFIG_DEVMEM is not set
CONFIG_DM_CRYPT=y
# CONFIG_DM_MIRROR is not set
CONFIG_DM_SNAPSHOT=y
CONFIG_DM_UEVENT=y
CONFIG_DM_VERITY=y
# CONFIG_DM_ZERO is not set
# CONFIG_DNS_RESOLVER is not set
CONFIG_DRM=y
# CONFIG_DRM_DISPLAY_CONNECTOR is not set
# CONFIG_DRM_ETNAVIV is not set
# CONFIG_DRM_HISI_HIBMC is not set
# CONFIG_DRM_HISI_KIRIN is not set
# CONFIG_DRM_I2C_ADV7511 is not set
# CONFIG_DRM_I2C_CH7006 is not set
# CONFIG_DRM_I2C_NXP_TDA998X is not set
# CONFIG_DRM_I2C_SIL164 is not set
CONFIG_DRM_KMS_HELPER=y
# CONFIG_DRM_LIMA is not set
# CONFIG_DRM_MALI_DISPLAY is not set
CONFIG_DRM_MSM=y
# CONFIG_DRM_NOUVEAU is not set
# CONFIG_DRM_PANEL_LVDS is not set
CONFIG_DRM_PANEL_SIMPLE=y
# CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA is not set
# CONFIG_DRM_PANFROST is not set
# CONFIG_DRM_PL111 is not set
# CONFIG_DRM_RCAR_DW_HDMI is not set
# CONFIG_DRM_RCAR_LVDS is not set
# CONFIG_DRM_SII902X is not set
# CONFIG_DRM_SIMPLE_BRIDGE is not set
# CONFIG_DRM_THINE_THC63LVD1024 is not set
# CONFIG_DRM_TI_SN65DSI86 is not set
CONFIG_DUMMY=y
# CONFIG_DW_WATCHDOG is not set
CONFIG_DYNAMIC_DEBUG=y
# CONFIG_E1000 is not set
# CONFIG_E1000E is not set
# CONFIG_EDAC is not set
# CONFIG_EEPROM_AT24 is not set
# CONFIG_EEPROM_AT25 is not set
# CONFIG_EFI is not set
CONFIG_EMBEDDED=y
CONFIG_EXPERT=y
# CONFIG_EXT2_FS is not set
# CONFIG_EXT3_FS is not set
CONFIG_EXT4_FS_SECURITY=y
CONFIG_EXTCON_SM5502=y
CONFIG_F2FS_FS=y
# CONFIG_FAILOVER is not set
CONFIG_FB_SIMPLE=y
# CONFIG_FHANDLE is not set
# CONFIG_FPGA is not set
# CONFIG_FSL_EDMA is not set
CONFIG_FS_ENCRYPTION=y
CONFIG_FS_VERITY=y
CONFIG_FTRACE=y
CONFIG_FUSE_FS=y
# CONFIG_FW_CACHE is not set
# CONFIG_FW_LOADER_USER_HELPER is not set
CONFIG_GARP=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
# CONFIG_GPIO_ALTERA is not set
# CONFIG_GPIO_DWAPB is not set
# CONFIG_GPIO_GENERIC_PLATFORM is not set
# CONFIG_GPIO_MAX732X is not set
# CONFIG_GPIO_MB86S7X is not set
# CONFIG_GPIO_PCA953X is not set
# CONFIG_GPIO_PL061 is not set
# CONFIG_GPIO_XGENE is not set
CONFIG_HARDENED_USERCOPY=y
CONFIG_HIDRAW=y
CONFIG_HID_ACRUX=y
CONFIG_HID_DRAGONRISE=y
CONFIG_HID_ELECOM=y
CONFIG_HID_EMS_FF=y
CONFIG_HID_GREENASIA=y
CONFIG_HID_GYRATION=y
CONFIG_HID_HOLTEK=y
# CONFIG_HID_ITE is not set
CONFIG_HID_KEYTOUCH=y
CONFIG_HID_KYE=y
CONFIG_HID_LCPOWER=y
CONFIG_HID_LOGITECH_HIDPP=y
CONFIG_HID_MAGICMOUSE=y
CONFIG_HID_MULTITOUCH=y
CONFIG_HID_NTRIG=y
CONFIG_HID_ORTEK=y
CONFIG_HID_PANTHERLORD=y
CONFIG_HID_PETALYNX=y
CONFIG_HID_PICOLCD=y
CONFIG_HID_PRIMAX=y
CONFIG_HID_PRODIKEYS=y
# CONFIG_HID_REDRAGON is not set
CONFIG_HID_ROCCAT=y
CONFIG_HID_SAITEK=y
CONFIG_HID_SAMSUNG=y
CONFIG_HID_SMARTJOYPLUS=y
CONFIG_HID_SONY=y
CONFIG_HID_SPEEDLINK=y
CONFIG_HID_STEAM=y
CONFIG_HID_SUNPLUS=y
CONFIG_HID_THRUSTMASTER=y
CONFIG_HID_TIVO=y
CONFIG_HID_TOPSEED=y
CONFIG_HID_TWINHAN=y
CONFIG_HID_UCLOGIC=y
CONFIG_HID_WACOM=y
CONFIG_HID_WALTOP=y
CONFIG_HID_WIIMOTE=y
CONFIG_HID_ZEROPLUS=y
CONFIG_HID_ZYDACRON=y
# CONFIG_HIX5HD2_GMAC is not set
# CONFIG_HNS3 is not set
# CONFIG_HNS_DSAF is not set
# CONFIG_HNS_ENET is not set
# CONFIG_HOTPLUG_PCI is not set
# CONFIG_I2C_DESIGNWARE_PLATFORM is not set
CONFIG_I2C_GPIO=y
CONFIG_I2C_HID=y
# CONFIG_I2C_MUX_PCA954x is not set
# CONFIG_I2C_RK3X is not set
# CONFIG_IGB is not set
# CONFIG_IGBVF is not set
CONFIG_IIO_KFIFO_BUF=y
CONFIG_IIO_ST_ACCEL_3AXIS=y
CONFIG_IIO_ST_LSM6DSX=y
CONFIG_IIO_TRIGGERED_BUFFER=y
# CONFIG_INDIRECT_PIO is not set
CONFIG_INET6_ESP=y
CONFIG_INET6_IPCOMP=y
CONFIG_INET_DIAG_DESTROY=y
CONFIG_INET_ESP=y
CONFIG_INET_TUNNEL=y
CONFIG_INET_UDP_DIAG=y
CONFIG_INPUT_JOYSTICK=y
# CONFIG_INPUT_MATRIXKMAP is not set
# CONFIG_INPUT_MOUSE is not set
CONFIG_INPUT_PM8XXX_VIBRATOR=y
CONFIG_INPUT_TABLET=y
CONFIG_INPUT_UINPUT=y
CONFIG_IP6_NF_FILTER=y
CONFIG_IP6_NF_IPTABLES=y
CONFIG_IP6_NF_MANGLE=y
CONFIG_IP6_NF_MATCH_RPFILTER=y
# CONFIG_IP6_NF_NAT is not set
CONFIG_IP6_NF_RAW=y
CONFIG_IP6_NF_TARGET_REJECT=y
# CONFIG_IPMI_HANDLER is not set
# CONFIG_IPQ_GCC_6018 is not set
# CONFIG_IPQ_GCC_8074 is not set
CONFIG_IPV6=y
CONFIG_IPV6_MIP6=y
CONFIG_IPV6_MULTIPLE_TABLES=y
CONFIG_IPV6_OPTIMISTIC_DAD=y
CONFIG_IPV6_ROUTER_PREF=y
CONFIG_IPV6_SIT=y
CONFIG_IPV6_TUNNEL=y
CONFIG_IPV6_VTI=y
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_IP_NF_ARPTABLES=y
CONFIG_IP_NF_FILTER=y
CONFIG_IP_NF_IPTABLES=y
CONFIG_IP_NF_MANGLE=y
CONFIG_IP_NF_MATCH_ECN=y
CONFIG_IP_NF_MATCH_TTL=y
CONFIG_IP_NF_NAT=y
CONFIG_IP_NF_RAW=y
CONFIG_IP_NF_SECURITY=y
CONFIG_IP_NF_TARGET_MASQUERADE=y
CONFIG_IP_NF_TARGET_NETMAP=y
CONFIG_IP_NF_TARGET_REDIRECT=y
CONFIG_IP_NF_TARGET_REJECT=y
# CONFIG_IRQ_POLL is not set
# CONFIG_KEYBOARD_ADC is not set
# CONFIG_KEYBOARD_ATKBD is not set
CONFIG_KEYBOARD_TM2_TOUCHKEY=y
# CONFIG_KSM is not set
CONFIG_L2TP=y
CONFIG_LEDS_CLASS_FLASH=y
# CONFIG_LEDS_GPIO is not set
# CONFIG_LEDS_PWM is not set
# CONFIG_LEDS_SYSCON is not set
# CONFIG_LEGACY_PTYS is not set
CONFIG_LIBCRC32C=y
CONFIG_LLC=y
CONFIG_LOCALVERSION="-postmarketos-qcom-msm8916"
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_LOGIG940_FF=y
CONFIG_LOGIRUMBLEPAD2_FF=y
CONFIG_LOGITECH_FF=y
CONFIG_LOGIWHEELS_FF=y
# CONFIG_LOGO is not set
CONFIG_LTR501=y
CONFIG_MAC80211=y
# CONFIG_MACB is not set
CONFIG_MACVLAN=y
CONFIG_MACVTAP=y
# CONFIG_MARVELL_10G_PHY is not set
# CONFIG_MARVELL_PHY is not set
# CONFIG_MAX9611 is not set
# CONFIG_MDIO_BCM_UNIMAC is not set
# CONFIG_MDIO_BITBANG is not set
# CONFIG_MDIO_BUS_MUX_MMIOREG is not set
# CONFIG_MDIO_BUS_MUX_MULTIPLEXER is not set
# CONFIG_MDIO_THUNDER is not set
# CONFIG_MDIO_XPCS is not set
# CONFIG_MEDIA_ANALOG_TV_SUPPORT is not set
# CONFIG_MEDIA_DIGITAL_TV_SUPPORT is not set
# CONFIG_MEDIA_SDR_SUPPORT is not set
# CONFIG_MEDIA_SUBDRV_AUTOSELECT is not set
CONFIG_MEDIA_SUPPORT=y
# CONFIG_MEDIA_USB_SUPPORT is not set
# CONFIG_MEGARAID_SAS is not set
# CONFIG_MEMTEST is not set
# CONFIG_MFD_AXP20X_I2C is not set
# CONFIG_MFD_BD9571MWV is not set
# CONFIG_MFD_CROS_EC is not set
# CONFIG_MFD_HI6421_PMIC is not set
# CONFIG_MFD_MAX77620 is not set
CONFIG_MFD_QCOM_RPM=y
# CONFIG_MFD_RK808 is not set
# CONFIG_MFD_ROHM_BD718XX is not set
# CONFIG_MFD_SEC_CORE is not set
# CONFIG_MICREL_PHY is not set
# CONFIG_MICROCHIP_PHY is not set
# CONFIG_MICROSEMI_PHY is not set
# CONFIG_MLX4_EN is not set
# CONFIG_MLX5_CORE is not set
# CONFIG_MMC_ARMMMCI is not set
# CONFIG_MMC_DW is not set
# CONFIG_MMC_SDHCI_CADENCE is not set
# CONFIG_MMC_SDHCI_F_SDH30 is not set
# CONFIG_MMC_SDHCI_OF_ARASAN is not set
# CONFIG_MMC_SDHCI_XENON is not set
# CONFIG_MMC_SPI is not set
CONFIG_MODULE_COMPRESS=y
CONFIG_MODULE_SRCVERSION_ALL=y
CONFIG_MODVERSIONS=y
# CONFIG_MPL3115 is not set
CONFIG_MRP=y
CONFIG_MSDOS_FS=y
CONFIG_MSM_GCC_8976=y
# CONFIG_MSM_GCC_8994 is not set
# CONFIG_MSM_GCC_8996 is not set
# CONFIG_MSM_GCC_8998 is not set
# CONFIG_MSM_MMCC_8996 is not set
# CONFIG_MTD is not set
# CONFIG_MVMDIO is not set
# CONFIG_MV_XOR_V2 is not set
# CONFIG_MWIFIEX is not set
# CONFIG_NAMESPACES is not set
CONFIG_NETFILTER_NETLINK_LOG=y
CONFIG_NETFILTER_NETLINK_QUEUE=y
CONFIG_NETFILTER_XTABLES=y
CONFIG_NETFILTER_XT_CONNMARK=y
CONFIG_NETFILTER_XT_MARK=y
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=y
CONFIG_NETFILTER_XT_MATCH_BPF=y
CONFIG_NETFILTER_XT_MATCH_COMMENT=y
CONFIG_NETFILTER_XT_MATCH_CONNLIMIT=y
CONFIG_NETFILTER_XT_MATCH_CONNMARK=y
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=y
CONFIG_NETFILTER_XT_MATCH_ECN=y
CONFIG_NETFILTER_XT_MATCH_HASHLIMIT=y
CONFIG_NETFILTER_XT_MATCH_HELPER=y
CONFIG_NETFILTER_XT_MATCH_HL=y
CONFIG_NETFILTER_XT_MATCH_IPRANGE=y
CONFIG_NETFILTER_XT_MATCH_L2TP=y
CONFIG_NETFILTER_XT_MATCH_LENGTH=y
CONFIG_NETFILTER_XT_MATCH_LIMIT=y
CONFIG_NETFILTER_XT_MATCH_MAC=y
CONFIG_NETFILTER_XT_MATCH_MARK=y
CONFIG_NETFILTER_XT_MATCH_OWNER=y
CONFIG_NETFILTER_XT_MATCH_PKTTYPE=y
CONFIG_NETFILTER_XT_MATCH_QUOTA=y
CONFIG_NETFILTER_XT_MATCH_SOCKET=y
CONFIG_NETFILTER_XT_MATCH_STATE=y
CONFIG_NETFILTER_XT_MATCH_STATISTIC=y
CONFIG_NETFILTER_XT_MATCH_STRING=y
CONFIG_NETFILTER_XT_MATCH_TIME=y
CONFIG_NETFILTER_XT_MATCH_U32=y
CONFIG_NETFILTER_XT_NAT=y
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=y
CONFIG_NETFILTER_XT_TARGET_CLASSIFY=y
CONFIG_NETFILTER_XT_TARGET_CONNMARK=y
CONFIG_NETFILTER_XT_TARGET_IDLETIMER=y
CONFIG_NETFILTER_XT_TARGET_LOG=y
CONFIG_NETFILTER_XT_TARGET_MARK=y
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=y
CONFIG_NETFILTER_XT_TARGET_NETMAP=y
CONFIG_NETFILTER_XT_TARGET_NFLOG=y
CONFIG_NETFILTER_XT_TARGET_NFQUEUE=y
CONFIG_NETFILTER_XT_TARGET_REDIRECT=y
CONFIG_NETFILTER_XT_TARGET_TCPMSS=y
CONFIG_NETFILTER_XT_TARGET_TPROXY=y
CONFIG_NETWORK_SECMARK=y
# CONFIG_NET_9P is not set
# CONFIG_NET_DSA is not set
# CONFIG_NET_FAILOVER is not set
CONFIG_NET_IPGRE_DEMUX=y
CONFIG_NET_IPVTI=y
CONFIG_NET_IP_TUNNEL=y
CONFIG_NET_KEY=y
CONFIG_NET_SCHED=y
# CONFIG_NET_SWITCHDEV is not set
CONFIG_NFC=y
# CONFIG_NFS_FS is not set
CONFIG_NF_CONNTRACK=y
CONFIG_NF_CONNTRACK_AMANDA=y
CONFIG_NF_CONNTRACK_FTP=y
CONFIG_NF_CONNTRACK_H323=y
CONFIG_NF_CONNTRACK_IRC=y
CONFIG_NF_CONNTRACK_MARK=y
CONFIG_NF_CONNTRACK_NETBIOS_NS=y
CONFIG_NF_CONNTRACK_PPTP=y
CONFIG_NF_CONNTRACK_SANE=y
CONFIG_NF_CONNTRACK_TFTP=y
CONFIG_NF_CT_NETLINK=y
CONFIG_NF_DEFRAG_IPV4=y
CONFIG_NF_DEFRAG_IPV6=y
CONFIG_NF_LOG_COMMON=y
CONFIG_NF_LOG_IPV4=y
CONFIG_NF_LOG_IPV6=y
CONFIG_NF_NAT=y
CONFIG_NF_REJECT_IPV4=y
CONFIG_NF_REJECT_IPV6=y
CONFIG_NF_SOCKET_IPV4=y
CONFIG_NF_SOCKET_IPV6=y
CONFIG_NF_TPROXY_IPV4=y
CONFIG_NF_TPROXY_IPV6=y
# CONFIG_NOP_USB_XCEIV is not set
CONFIG_NO_HZ=y
CONFIG_NR_CPUS=4
# CONFIG_NUMA is not set
CONFIG_OVERLAY_FS=y
# CONFIG_PACKING is not set
# CONFIG_PAGE_REPORTING is not set
CONFIG_PANIC_TIMEOUT=5
# CONFIG_PARAVIRT is not set
# CONFIG_PCIEPORTBUS is not set
# CONFIG_PCIE_ALTERA is not set
# CONFIG_PCIE_KIRIN is not set
# CONFIG_PCIE_LAYERSCAPE_GEN4 is not set
# CONFIG_PCI_HISI is not set
# CONFIG_PCI_HOST_GENERIC is not set
# CONFIG_PCI_HOST_THUNDER_ECAM is not set
# CONFIG_PCI_HOST_THUNDER_PEM is not set
# CONFIG_PCI_IOV is not set
# CONFIG_PCI_XGENE is not set
# CONFIG_PHY_FSL_IMX8MQ_USB is not set
# CONFIG_PHY_QCOM_QMP is not set
# CONFIG_PHY_QCOM_QUSB2 is not set
CONFIG_PHY_QCOM_USB_HSIC=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
# CONFIG_PHY_XGENE is not set
# CONFIG_PINCTRL_IPQ6018 is not set
# CONFIG_PINCTRL_IPQ8074 is not set
CONFIG_PINCTRL_MSM8976=y
# CONFIG_PINCTRL_MSM8994 is not set
# CONFIG_PINCTRL_MSM8996 is not set
# CONFIG_PINCTRL_MSM8998 is not set
# CONFIG_PINCTRL_QCS404 is not set
# CONFIG_PINCTRL_SDM845 is not set
# CONFIG_PINCTRL_SM8150 is not set
# CONFIG_PL330_DMA is not set
# CONFIG_PLATFORM_MHU is not set
CONFIG_PM8916_WATCHDOG=y
CONFIG_PM_DEBUG=y
CONFIG_PM_WAKELOCKS=y
# CONFIG_POWER_RESET_BRCMSTB is not set
CONFIG_POWER_RESET_QCOM_PON=y
CONFIG_POWER_RESET_SYSCON_POWEROFF=y
# CONFIG_POWER_RESET_XGENE is not set
CONFIG_PPP=y
CONFIG_PSI=y
CONFIG_PSTORE_COMPRESS_DEFAULT="zstd"
CONFIG_PSTORE_CONSOLE=y
# CONFIG_PSTORE_DEFLATE_COMPRESS_DEFAULT is not set
CONFIG_PSTORE_RAM=y
CONFIG_PSTORE_ZSTD_COMPRESS=y
# CONFIG_QCOM_AOSS_QMP is not set
CONFIG_QCOM_APR=y
# CONFIG_QCOM_CPR is not set
# CONFIG_QCOM_EBI2 is not set
# CONFIG_QCOM_EMAC is not set
CONFIG_QCOM_FASTRPC=y
# CONFIG_QCOM_GENI_SE is not set
# CONFIG_QCOM_GLINK_SSR is not set
# CONFIG_QCOM_HFPLL is not set
# CONFIG_QCOM_HIDMA is not set
# CONFIG_QCOM_HIDMA_MGMT is not set
CONFIG_QCOM_MDT_LOADER=y
# CONFIG_QCOM_PDC is not set
CONFIG_QCOM_PDR_HELPERS=y
CONFIG_QCOM_Q6V5_COMMON=y
CONFIG_QCOM_Q6V5_IPA_NOTIFY=y
CONFIG_QCOM_Q6V5_MSS=y
# CONFIG_QCOM_Q6V5_PAS is not set
CONFIG_QCOM_QMI_HELPERS=y
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_QCOM_RPMPD=y
CONFIG_QCOM_RPROC_COMMON=y
CONFIG_QCOM_SOCINFO=y
# CONFIG_QCOM_SPMI_ADC5 is not set
CONFIG_QCOM_SPMI_TEMP_ALARM=y
CONFIG_QCOM_SPMI_VADC=y
CONFIG_QCOM_SYSMON=y
CONFIG_QCOM_VADC_COMMON=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_QCOM_WCNSS_PIL=y
# CONFIG_QCOM_WDT is not set
# CONFIG_QCS_GCC_404 is not set
CONFIG_QFMT_V2=y
# CONFIG_QORIQ_CPUFREQ is not set
# CONFIG_QORIQ_THERMAL is not set
CONFIG_QRTR=y
CONFIG_QRTR_SMD=y
CONFIG_QRTR_TUN=y
# CONFIG_RAID_ATTRS is not set
# CONFIG_RC_CORE is not set
# CONFIG_REALTEK_PHY is not set
# CONFIG_REGULATOR_FAN53555 is not set
# CONFIG_REGULATOR_GPIO is not set
# CONFIG_REGULATOR_MAX8973 is not set
# CONFIG_REGULATOR_PFUZE100 is not set
# CONFIG_REGULATOR_PWM is not set
# CONFIG_REGULATOR_VCTRL is not set
# CONFIG_RESET_BRCMSTB_RESCAL is not set
# CONFIG_RESET_QCOM_AOSS is not set
CONFIG_RESET_QCOM_PDC=y
CONFIG_RFKILL=y
# CONFIG_RFKILL_INPUT is not set
CONFIG_RMI4_CORE=y
# CONFIG_ROCKCHIP_PHY is not set
CONFIG_RPMSG_CHAR=y
# CONFIG_RPMSG_QCOM_GLINK_RPM is not set
CONFIG_RPMSG_QCOM_GLINK_SMEM=y
# CONFIG_RTC_DRV_DS1307 is not set
# CONFIG_RTC_DRV_DS3232 is not set
# CONFIG_RTC_DRV_PCF2127 is not set
# CONFIG_RTC_DRV_PCF85363 is not set
# CONFIG_RTC_DRV_PL031 is not set
CONFIG_RTC_DRV_PM8XXX=y
# CONFIG_RTC_DRV_RX8581 is not set
CONFIG_RTL_CARDS=y
CONFIG_SCHEDSTATS=y
CONFIG_SCHED_DEBUG=y
# CONFIG_SCHED_SMT is not set
# CONFIG_SCSI_MPT3SAS is not set
# CONFIG_SCSI_SAS_ATTRS is not set
# CONFIG_SCSI_SAS_LIBSAS is not set
# CONFIG_SCSI_UFSHCD is not set
# CONFIG_SDM_DISPCC_845 is not set
# CONFIG_SDM_GCC_845 is not set
# CONFIG_SDM_GPUCC_845 is not set
CONFIG_SECURITY_NETWORK=y
# CONFIG_SENSORS_INA2XX is not set
# CONFIG_SENSORS_INA3221 is not set
# CONFIG_SENSORS_ISL29018 is not set
# CONFIG_SENSORS_LM90 is not set
# CONFIG_SENSORS_PWM_FAN is not set
# CONFIG_SERIAL_8250 is not set
# CONFIG_SERIAL_AMBA_PL011 is not set
# CONFIG_SERIAL_FSL_LINFLEXUART is not set
# CONFIG_SERIAL_FSL_LPUART is not set
# CONFIG_SERIAL_XILINX_PS_UART is not set
# CONFIG_SERIO is not set
# CONFIG_SIMPLE_PM_BUS is not set
# CONFIG_SKY2 is not set
# CONFIG_SLIMBUS is not set
# CONFIG_SMC91X is not set
# CONFIG_SMSC911X is not set
# CONFIG_SM_GCC_8150 is not set
# CONFIG_SND_AUDIO_GRAPH_CARD is not set
# CONFIG_SND_SIMPLE_CARD is not set
# CONFIG_SND_SOC_AK4613 is not set
# CONFIG_SND_SOC_DMIC is not set
# CONFIG_SND_SOC_ES7134 is not set
# CONFIG_SND_SOC_ES7241 is not set
CONFIG_SND_SOC_HDMI_CODEC=y
CONFIG_SND_SOC_MAX98357A=y
# CONFIG_SND_SOC_MAX98927 is not set
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=y
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=y
# CONFIG_SND_SOC_PCM3168A_I2C is not set
CONFIG_SND_SOC_QCOM=y
CONFIG_SND_SOC_QDSP6=y
CONFIG_SND_SOC_QDSP6_ADM=y
CONFIG_SND_SOC_QDSP6_AFE=y
CONFIG_SND_SOC_QDSP6_AFE_DAI=y
CONFIG_SND_SOC_QDSP6_ASM=y
CONFIG_SND_SOC_QDSP6_ASM_DAI=y
CONFIG_SND_SOC_QDSP6_COMMON=y
CONFIG_SND_SOC_QDSP6_CORE=y
CONFIG_SND_SOC_QDSP6_ROUTING=y
# CONFIG_SND_SOC_SPDIF is not set
# CONFIG_SND_SOC_TAS571X is not set
# CONFIG_SOC_BRCMSTB is not set
# CONFIG_SOC_TI is not set
# CONFIG_SOUNDWIRE is not set
CONFIG_SPI_BITBANG=y
# CONFIG_SPI_NXP_FLEXSPI is not set
# CONFIG_SPI_PL022 is not set
# CONFIG_SPI_QCOM_QSPI is not set
# CONFIG_SPI_ROCKCHIP is not set
CONFIG_SPI_SPIDEV=y
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU=y
# CONFIG_SQUASHFS_DECOMP_SINGLE is not set
# CONFIG_SQUASHFS_FILE_CACHE is not set
CONFIG_SQUASHFS_FILE_DIRECT=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_XZ=y
# CONFIG_SRAM is not set
CONFIG_STACKTRACE=y
CONFIG_STAGING=y
# CONFIG_STMMAC_ETH is not set
CONFIG_STP=y
# CONFIG_STRICT_DEVMEM is not set
# CONFIG_SYSVIPC is not set
CONFIG_TAP=y
# CONFIG_TCG_TPM is not set
# CONFIG_TEE is not set
# CONFIG_THERMAL_GOV_POWER_ALLOCATOR is not set
# CONFIG_THUNDER_NIC_BGX is not set
# CONFIG_THUNDER_NIC_PF is not set
# CONFIG_THUNDER_NIC_RGX is not set
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y
CONFIG_TOUCHSCREEN_ATMEL_MXT=y
CONFIG_TOUCHSCREEN_MMS114=y
CONFIG_TYPEC=y
CONFIG_TYPEC_FUSB302=y
# CONFIG_TYPEC_HD3SS3220 is not set
CONFIG_TYPEC_TCPM=y
CONFIG_UCLAMP_TASK=y
CONFIG_UEVENT_HELPER=y
CONFIG_UHID=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
# CONFIG_USB_BDC_UDC is not set
CONFIG_USB_CONFIGFS=y
# CONFIG_USB_CONN_GPIO is not set
# CONFIG_USB_DWC2 is not set
CONFIG_USB_DWC3_ULPI=y
# CONFIG_USB_EHCI_HCD_PLATFORM is not set
CONFIG_USB_HIDDEV=y
# CONFIG_USB_HSIC_USB3503 is not set
# CONFIG_USB_ISP1760 is not set
# CONFIG_USB_LAN78XX is not set
CONFIG_USB_LED_TRIG=y
CONFIG_USB_MASS_STORAGE=y
# CONFIG_USB_MUSB_HDRC is not set
CONFIG_USB_NET_AX88179_178A=y
CONFIG_USB_NET_AX8817X=y
CONFIG_USB_NET_CDCETHER=y
CONFIG_USB_NET_CDC_NCM=y
CONFIG_USB_NET_CDC_SUBSET=y
CONFIG_USB_NET_CDC_SUBSET_ENABLE=y
# CONFIG_USB_NET_DM9601 is not set
# CONFIG_USB_NET_MCS7830 is not set
CONFIG_USB_NET_NET1080=y
# CONFIG_USB_NET_PLUSB is not set
# CONFIG_USB_NET_SMSC75XX is not set
# CONFIG_USB_NET_SMSC95XX is not set
# CONFIG_USB_NET_SR9800 is not set
CONFIG_USB_NET_ZAURUS=y
# CONFIG_USB_OHCI_HCD is not set
# CONFIG_USB_PEGASUS is not set
CONFIG_USB_RAW_GADGET=y
# CONFIG_USB_RTL8150 is not set
CONFIG_USB_RTL8152=y
# CONFIG_USB_SNP_UDC_PLAT is not set
CONFIG_USB_USBNET=y
# CONFIG_USB_XHCI_HCD is not set
CONFIG_V4L2_FWNODE=y
CONFIG_V4L2_MEM2MEM_DEV=y
CONFIG_VETH=y
# CONFIG_VEXPRESS_CONFIG is not set
# CONFIG_VFIO is not set
CONFIG_VIDEOBUF2_CORE=y
CONFIG_VIDEOBUF2_MEMOPS=y
CONFIG_VIDEOBUF2_V4L2=y
CONFIG_VIDEO_DEV=y
CONFIG_VIDEO_QCOM_CAMSS=y
CONFIG_VIDEO_QCOM_VENUS=y
CONFIG_VIDEO_V4L2=y
# CONFIG_VIRTIO_BALLOON is not set
# CONFIG_VIRTIO_BLK is not set
# CONFIG_VIRTIO_CONSOLE is not set
# CONFIG_VIRTIO_MMIO is not set
# CONFIG_VIRTIO_NET is not set
# CONFIG_VIRTIO_PCI is not set
# CONFIG_VIRTUALIZATION is not set
# CONFIG_VITESSE_PHY is not set
CONFIG_VLAN_8021Q=y
# CONFIG_VT is not set
CONFIG_VXLAN=y
CONFIG_WCN36XX=y
# CONFIG_WL18XX is not set
# CONFIG_WLCORE is not set
# CONFIG_XEN is not set
CONFIG_XFRM_USER=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_ZSTD_DECOMPRESS=y
# CONFIG_AD2S1210 is not set
# CONFIG_AD5933 is not set
# CONFIG_AD7150 is not set
# CONFIG_AD7280 is not set
# CONFIG_AD7746 is not set
# CONFIG_AD7816 is not set
# CONFIG_AD9832 is not set
# CONFIG_AD9834 is not set
# CONFIG_ADE7854 is not set
# CONFIG_ADIS16203 is not set
# CONFIG_ADIS16240 is not set
# CONFIG_ADT7316 is not set
# CONFIG_ANDROID_BINDERFS is not set
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder"
CONFIG_ANDROID_BINDER_IPC=y
# CONFIG_ANDROID_BINDER_IPC_SELFTEST is not set
CONFIG_ARCH_FLATMEM_ENABLE=y
CONFIG_ASHMEM=y
CONFIG_ASM_MODVERSIONS=y
CONFIG_BINARY_PRINTF=y
# CONFIG_BLK_DEV_IO_TRACE is not set
CONFIG_BLK_DEV_RAM_COUNT=16
CONFIG_BLK_DEV_RAM_SIZE=8192
CONFIG_BMC150_ACCEL_I2C=y
CONFIG_BMC150_ACCEL_SPI=y
CONFIG_BMC150_MAGN=y
CONFIG_BMG160_I2C=y
CONFIG_BMG160_SPI=y
# CONFIG_BOOTTIME_TRACING is not set
CONFIG_BPF_EVENTS=y
CONFIG_BPF_JIT_ALWAYS_ON=y
# CONFIG_BPF_LSM is not set
# CONFIG_BPF_STREAM_PARSER is not set
CONFIG_BRANCH_PROFILE_NONE=y
CONFIG_BT_QCOMSMD=y
# CONFIG_CFG80211_CERTIFICATION_ONUS is not set
CONFIG_CGROUP_BPF=y
# CONFIG_CLS_U32_MARK is not set
# CONFIG_CLS_U32_PERF is not set
# CONFIG_COMEDI is not set
# CONFIG_COMMON_CLK_XLNX_CLKWZRD is not set
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_CRYPTO_LIB_POLY1305_GENERIC=y
CONFIG_CRYPTO_NHPOLY1305=y
# CONFIG_DEBUG_PAGE_REF is not set
# CONFIG_DEBUG_RSEQ is not set
CONFIG_DEFAULT_SECURITY_SELINUX=y
CONFIG_DM_BUFIO=y
# CONFIG_DM_DEBUG_BLOCK_MANAGER_LOCKING is not set
# CONFIG_DM_INIT is not set
CONFIG_DM_VERITY_FEC=y
# CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG is not set
# CONFIG_DPM_WATCHDOG is not set
CONFIG_DRAGONRISE_FF=y
# CONFIG_DRM_DEBUG_DP_MST_TOPOLOGY_REFS is not set
# CONFIG_DRM_DEBUG_MM is not set
# CONFIG_DRM_FBDEV_LEAK_PHYS_SMEM is not set
# CONFIG_DRM_MSM_GPU_SUDO is not set
CONFIG_DYNAMIC_EVENTS=y
CONFIG_ENABLE_DEFAULT_TRACERS=y
CONFIG_EVENT_TRACING=y
CONFIG_EXT4_USE_FOR_EXT2=y
# CONFIG_F2FS_CHECK_FS is not set
# CONFIG_F2FS_FAULT_INJECTION is not set
# CONFIG_F2FS_FS_COMPRESSION is not set
CONFIG_F2FS_FS_POSIX_ACL=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_F2FS_FS_XATTR=y
CONFIG_F2FS_STAT_FS=y
# CONFIG_FB_SM750 is not set
# CONFIG_FB_TFT is not set
CONFIG_FIB_RULES=y
# CONFIG_FIELDBUS_DEV is not set
# CONFIG_FIRMWARE_MEMMAP is not set
# CONFIG_FLATMEM_MANUAL is not set
CONFIG_FONT_AUTOSELECT=y
CONFIG_FS_ENCRYPTION_ALGS=y
CONFIG_FS_VERITY_BUILTIN_SIGNATURES=y
# CONFIG_FS_VERITY_DEBUG is not set
# CONFIG_FTRACE_SYSCALLS is not set
# CONFIG_FUNCTION_TRACER is not set
CONFIG_GENERIC_IRQ_INJECTION=y
CONFIG_GREENASIA_FF=y
# CONFIG_GS_FPGABOOT is not set
CONFIG_HARDENED_USERCOPY_FALLBACK=y
# CONFIG_HARDENED_USERCOPY_PAGESPAN is not set
CONFIG_HID_ACRUX_FF=y
# CONFIG_HID_CP2112 is not set
CONFIG_HID_LOGITECH_DJ=y
# CONFIG_HID_PICOLCD_BACKLIGHT is not set
# CONFIG_HID_PICOLCD_FB is not set
# CONFIG_HID_PICOLCD_LEDS is not set
# CONFIG_HIST_TRIGGERS is not set
# CONFIG_HOLTEK_FF is not set
# CONFIG_HWLAT_TRACER is not set
# CONFIG_IFB is not set
CONFIG_IIO_ST_ACCEL_I2C_3AXIS=y
CONFIG_IIO_ST_ACCEL_SPI_3AXIS=y
CONFIG_IIO_ST_LSM6DSX_I2C=y
CONFIG_IIO_ST_LSM6DSX_SPI=y
CONFIG_IIO_ST_SENSORS_CORE=y
CONFIG_IIO_ST_SENSORS_I2C=y
CONFIG_IIO_ST_SENSORS_SPI=y
# CONFIG_INET6_ESP_OFFLOAD is not set
CONFIG_INET6_TUNNEL=y
CONFIG_INET6_XFRM_TUNNEL=y
# CONFIG_INET_ESPINTCP is not set
# CONFIG_INET_ESP_OFFLOAD is not set
CONFIG_ION=y
# CONFIG_ION_CMA_HEAP is not set
# CONFIG_ION_SYSTEM_HEAP is not set
# CONFIG_IPV6_GRE is not set
CONFIG_IPV6_ROUTE_INFO=y
# CONFIG_IPV6_SUBTREES is not set
# CONFIG_IP_FIB_TRIE_STATS is not set
CONFIG_IP_MULTIPLE_TABLES=y
CONFIG_IP_NF_ARPFILTER=y
CONFIG_IP_NF_ARP_MANGLE=y
# CONFIG_IP_ROUTE_MULTIPATH is not set
# CONFIG_IP_ROUTE_VERBOSE is not set
# CONFIG_IRQSOFF_TRACER is not set
# CONFIG_JOYSTICK_A3D is not set
# CONFIG_JOYSTICK_ADI is not set
# CONFIG_JOYSTICK_ANALOG is not set
# CONFIG_JOYSTICK_AS5011 is not set
# CONFIG_JOYSTICK_COBRA is not set
# CONFIG_JOYSTICK_FSIA6B is not set
# CONFIG_JOYSTICK_GF2K is not set
# CONFIG_JOYSTICK_GRIP is not set
# CONFIG_JOYSTICK_GRIP_MP is not set
# CONFIG_JOYSTICK_GUILLEMOT is not set
# CONFIG_JOYSTICK_IFORCE is not set
# CONFIG_JOYSTICK_INTERACT is not set
# CONFIG_JOYSTICK_JOYDUMP is not set
# CONFIG_JOYSTICK_MAGELLAN is not set
# CONFIG_JOYSTICK_PSXPAD_SPI is not set
# CONFIG_JOYSTICK_PXRC is not set
# CONFIG_JOYSTICK_SIDEWINDER is not set
# CONFIG_JOYSTICK_SPACEBALL is not set
# CONFIG_JOYSTICK_SPACEORB is not set
# CONFIG_JOYSTICK_STINGER is not set
# CONFIG_JOYSTICK_TMDC is not set
# CONFIG_JOYSTICK_TWIDJOY is not set
# CONFIG_JOYSTICK_WARRIOR is not set
CONFIG_JOYSTICK_XPAD=y
CONFIG_JOYSTICK_XPAD_FF=y
CONFIG_JOYSTICK_XPAD_LEDS=y
# CONFIG_JOYSTICK_ZHENHUA is not set
# CONFIG_KS7010 is not set
# CONFIG_L2TP_DEBUGFS is not set
# CONFIG_L2TP_V3 is not set
# CONFIG_LEDS_AAT1290 is not set
# CONFIG_LEDS_AS3645A is not set
# CONFIG_LEDS_KTD2692 is not set
# CONFIG_LEDS_LM3601X is not set
CONFIG_LSM_MMAP_MIN_ADDR=32768
# CONFIG_LTE_GDM724X is not set
CONFIG_MODULE_COMPRESS_GZIP=y
# CONFIG_MODULE_COMPRESS_XZ is not set
CONFIG_NETFILTER_CONNCOUNT=y
CONFIG_NETFILTER_FAMILY_ARP=y
CONFIG_NETFILTER_NETLINK=y
# CONFIG_NETFILTER_NETLINK_GLUE_CT is not set
CONFIG_NETFILTER_XT_MATCH_POLICY=y
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=y
CONFIG_NETFILTER_XT_TARGET_CT=y
# CONFIG_NETFILTER_XT_TARGET_NOTRACK is not set
CONFIG_NETFILTER_XT_TARGET_SECMARK=y
CONFIG_NETFILTER_XT_TARGET_TRACE=y
# CONFIG_NET_ACT_BPF is not set
# CONFIG_NET_ACT_CONNMARK is not set
# CONFIG_NET_ACT_CSUM is not set
# CONFIG_NET_ACT_CTINFO is not set
# CONFIG_NET_ACT_GACT is not set
# CONFIG_NET_ACT_IFE is not set
# CONFIG_NET_ACT_IPT is not set
# CONFIG_NET_ACT_MIRRED is not set
# CONFIG_NET_ACT_MPLS is not set
# CONFIG_NET_ACT_NAT is not set
# CONFIG_NET_ACT_PEDIT is not set
# CONFIG_NET_ACT_POLICE is not set
# CONFIG_NET_ACT_SAMPLE is not set
# CONFIG_NET_ACT_SIMP is not set
# CONFIG_NET_ACT_SKBEDIT is not set
# CONFIG_NET_ACT_SKBMOD is not set
# CONFIG_NET_ACT_TUNNEL_KEY is not set
# CONFIG_NET_ACT_VLAN is not set
CONFIG_NET_CLS=y
CONFIG_NET_CLS_ACT=y
# CONFIG_NET_CLS_BASIC is not set
CONFIG_NET_CLS_BPF=y
# CONFIG_NET_CLS_CGROUP is not set
# CONFIG_NET_CLS_FLOW is not set
# CONFIG_NET_CLS_FLOWER is not set
# CONFIG_NET_CLS_FW is not set
# CONFIG_NET_CLS_MATCHALL is not set
# CONFIG_NET_CLS_ROUTE4 is not set
# CONFIG_NET_CLS_RSVP is not set
# CONFIG_NET_CLS_RSVP6 is not set
# CONFIG_NET_CLS_TCINDEX is not set
CONFIG_NET_CLS_U32=y
CONFIG_NET_EGRESS=y
CONFIG_NET_EMATCH=y
# CONFIG_NET_EMATCH_CMP is not set
# CONFIG_NET_EMATCH_IPT is not set
# CONFIG_NET_EMATCH_META is not set
# CONFIG_NET_EMATCH_NBYTE is not set
CONFIG_NET_EMATCH_STACK=32
# CONFIG_NET_EMATCH_TEXT is not set
CONFIG_NET_EMATCH_U32=y
# CONFIG_NET_IPGRE is not set
# CONFIG_NET_KEY_MIGRATE is not set
# CONFIG_NET_SCH_CAKE is not set
# CONFIG_NET_SCH_CBQ is not set
# CONFIG_NET_SCH_CBS is not set
# CONFIG_NET_SCH_CHOKE is not set
# CONFIG_NET_SCH_CODEL is not set
# CONFIG_NET_SCH_DEFAULT is not set
# CONFIG_NET_SCH_DRR is not set
# CONFIG_NET_SCH_DSMARK is not set
# CONFIG_NET_SCH_ETF is not set
# CONFIG_NET_SCH_ETS is not set
CONFIG_NET_SCH_FIFO=y
# CONFIG_NET_SCH_FQ is not set
# CONFIG_NET_SCH_FQ_CODEL is not set
# CONFIG_NET_SCH_GRED is not set
# CONFIG_NET_SCH_HFSC is not set
# CONFIG_NET_SCH_HHF is not set
CONFIG_NET_SCH_HTB=y
CONFIG_NET_SCH_INGRESS=y
# CONFIG_NET_SCH_MQPRIO is not set
# CONFIG_NET_SCH_MULTIQ is not set
CONFIG_NET_SCH_NETEM=y
# CONFIG_NET_SCH_PIE is not set
# CONFIG_NET_SCH_PLUG is not set
# CONFIG_NET_SCH_PRIO is not set
# CONFIG_NET_SCH_QFQ is not set
# CONFIG_NET_SCH_RED is not set
# CONFIG_NET_SCH_SFB is not set
# CONFIG_NET_SCH_SFQ is not set
# CONFIG_NET_SCH_SKBPRIO is not set
# CONFIG_NET_SCH_TAPRIO is not set
# CONFIG_NET_SCH_TBF is not set
# CONFIG_NET_SCH_TEQL is not set
# CONFIG_NET_TC_SKB_EXT is not set
CONFIG_NET_UDP_TUNNEL=y
# CONFIG_NFC_DIGITAL is not set
# CONFIG_NFC_FDP is not set
# CONFIG_NFC_HCI is not set
# CONFIG_NFC_MRVL_USB is not set
CONFIG_NFC_NCI=y
# CONFIG_NFC_NCI_SPI is not set
# CONFIG_NFC_NCI_UART is not set
CONFIG_NFC_NXP_NCI=y
CONFIG_NFC_NXP_NCI_I2C=y
# CONFIG_NFC_PN532_UART is not set
# CONFIG_NFC_PN533_I2C is not set
# CONFIG_NFC_PN533_USB is not set
CONFIG_NFC_S3FWRN5=y
CONFIG_NFC_S3FWRN5_I2C=y
# CONFIG_NFC_ST_NCI_I2C is not set
# CONFIG_NFC_ST_NCI_SPI is not set
CONFIG_NF_CONNTRACK_BROADCAST=y
CONFIG_NF_CONNTRACK_SECMARK=y
CONFIG_NF_CT_PROTO_GRE=y
CONFIG_NF_NAT_AMANDA=y
CONFIG_NF_NAT_FTP=y
CONFIG_NF_NAT_H323=y
CONFIG_NF_NAT_IRC=y
CONFIG_NF_NAT_PPTP=y
CONFIG_NF_NAT_REDIRECT=y
CONFIG_NF_NAT_TFTP=y
CONFIG_NOP_TRACER=y
CONFIG_PANTHERLORD_FF=y
# CONFIG_PC104 is not set
# CONFIG_PI433 is not set
# CONFIG_PM_ADVANCED_DEBUG is not set
CONFIG_PM_SLEEP_DEBUG=y
# CONFIG_PM_TEST_SUSPEND is not set
CONFIG_PM_WAKELOCKS_GC=y
CONFIG_PM_WAKELOCKS_LIMIT=100
# CONFIG_PPPOE is not set
CONFIG_PPPOL2TP=y
# CONFIG_PPP_ASYNC is not set
CONFIG_PPP_BSDCOMP=y
CONFIG_PPP_DEFLATE=y
# CONFIG_PPP_FILTER is not set
CONFIG_PPP_MPPE=y
# CONFIG_PPP_MULTILINK is not set
# CONFIG_PPP_SYNC_TTY is not set
CONFIG_PPTP=y
# CONFIG_PREEMPTIRQ_DELAY_TEST is not set
# CONFIG_PREEMPTIRQ_EVENTS is not set
# CONFIG_PREEMPT_TRACER is not set
# CONFIG_PRISM2_USB is not set
CONFIG_PROBE_EVENTS=y
# CONFIG_PROFILE_ALL_BRANCHES is not set
# CONFIG_PROFILE_ANNOTATED_BRANCHES is not set
# CONFIG_PSI_DEFAULT_DISABLED is not set
CONFIG_PSTORE_ZSTD_COMPRESS_DEFAULT=y
# CONFIG_QCOM_CLK_RPM is not set
# CONFIG_QLGE is not set
CONFIG_QUOTA_TREE=y
# CONFIG_R8188EU is not set
# CONFIG_R8712U is not set
CONFIG_REED_SOLOMON=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_REED_SOLOMON_ENC8=y
# CONFIG_REGULATOR_QCOM_RPM is not set
CONFIG_RING_BUFFER=y
# CONFIG_RING_BUFFER_BENCHMARK is not set
# CONFIG_RING_BUFFER_STARTUP_TEST is not set
CONFIG_RMI4_2D_SENSOR=y
# CONFIG_RMI4_F03 is not set
CONFIG_RMI4_F11=y
CONFIG_RMI4_F12=y
# CONFIG_RMI4_F30 is not set
# CONFIG_RMI4_F34 is not set
# CONFIG_RMI4_F54 is not set
# CONFIG_RMI4_F55 is not set
CONFIG_RMI4_I2C=y
# CONFIG_RMI4_SMB is not set
# CONFIG_RMI4_SPI is not set
# CONFIG_RTL8192U is not set
# CONFIG_RTL8723BS is not set
# CONFIG_RTLLIB is not set
# CONFIG_RTS5208 is not set
# CONFIG_SCHED_TRACER is not set
# CONFIG_SECURITY_NETWORK_XFRM is not set
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SELINUX_AVC_STATS=y
CONFIG_SECURITY_SELINUX_BOOTPARAM=y
CONFIG_SECURITY_SELINUX_CHECKREQPROT_VALUE=0
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_SECURITY_SELINUX_DISABLE=y
CONFIG_SECURITY_SELINUX_SID2STR_CACHE_SIZE=256
CONFIG_SECURITY_SELINUX_SIDTAB_HASH_BITS=9
CONFIG_SECURITY_WRITABLE_HOOKS=y
# CONFIG_SENSORS_LIS3_SPI is not set
# CONFIG_SGETMASK_SYSCALL is not set
CONFIG_SKB_EXTENSIONS=y
CONFIG_SLHC=y
# CONFIG_SLOB is not set
# CONFIG_SLUB_MEMCG_SYSFS_ON is not set
CONFIG_SMARTJOYPLUS_FF=y
CONFIG_SND_RAWMIDI=y
CONFIG_SND_SOC_APQ8016_SBC=y
CONFIG_SND_SOC_LPASS_APQ8016=y
CONFIG_SND_SOC_LPASS_CPU=y
CONFIG_SND_SOC_LPASS_PLATFORM=y
# CONFIG_SND_SOC_STORM is not set
CONFIG_SOCK_CGROUP_DATA=y
# CONFIG_SONY_FF is not set
# CONFIG_STACK_TRACER is not set
# CONFIG_STAGING_BOARD is not set
# CONFIG_STAGING_GASKET_FRAMEWORK is not set
# CONFIG_STAGING_MEDIA is not set
# CONFIG_SUSPEND_SKIP_SYNC is not set
# CONFIG_TABLET_SERIAL_WACOM4 is not set
CONFIG_TABLET_USB_ACECAD=y
CONFIG_TABLET_USB_AIPTEK=y
CONFIG_TABLET_USB_GTCO=y
CONFIG_TABLET_USB_HANWANG=y
CONFIG_TABLET_USB_KBTAB=y
# CONFIG_TABLET_USB_PEGASUS is not set
CONFIG_TEXTSEARCH=y
CONFIG_TEXTSEARCH_BM=y
CONFIG_TEXTSEARCH_FSM=y
CONFIG_TEXTSEARCH_KMP=y
# CONFIG_THRUSTMASTER_FF is not set
CONFIG_TRACEPOINTS=y
# CONFIG_TRACEPOINT_BENCHMARK is not set
# CONFIG_TRACER_SNAPSHOT is not set
# CONFIG_TRACE_EVAL_MAP_FILE is not set
# CONFIG_TRACE_EVENT_INJECT is not set
CONFIG_TRACING=y
# CONFIG_TTY_PRINTK is not set
CONFIG_UCLAMP_BUCKETS_COUNT=5
CONFIG_UCLAMP_TASK_GROUP=y
CONFIG_UEVENT_HELPER_PATH=""
# CONFIG_UNISYSSPAR is not set
CONFIG_UPROBES=y
CONFIG_UPROBE_EVENTS=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_CONFIGFS_ECM=y
CONFIG_USB_CONFIGFS_ECM_SUBSET=y
CONFIG_USB_CONFIGFS_EEM=y
CONFIG_USB_CONFIGFS_F_FS=y
# CONFIG_USB_CONFIGFS_F_HID is not set
# CONFIG_USB_CONFIGFS_F_LB_SS is not set
CONFIG_USB_CONFIGFS_F_MIDI=y
# CONFIG_USB_CONFIGFS_F_PRINTER is not set
# CONFIG_USB_CONFIGFS_F_UAC1 is not set
# CONFIG_USB_CONFIGFS_F_UAC1_LEGACY is not set
# CONFIG_USB_CONFIGFS_F_UAC2 is not set
# CONFIG_USB_CONFIGFS_F_UVC is not set
CONFIG_USB_CONFIGFS_MASS_STORAGE=y
CONFIG_USB_CONFIGFS_NCM=y
CONFIG_USB_CONFIGFS_OBEX=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_CONFIGFS_SERIAL=y
CONFIG_USB_F_ACM=y
CONFIG_USB_F_ECM=y
CONFIG_USB_F_EEM=y
CONFIG_USB_F_FS=y
CONFIG_USB_F_MASS_STORAGE=y
CONFIG_USB_F_MIDI=y
CONFIG_USB_F_NCM=y
CONFIG_USB_F_OBEX=y
CONFIG_USB_F_RNDIS=y
CONFIG_USB_F_SERIAL=y
CONFIG_USB_F_SUBSET=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_USB_U_ETHER=y
CONFIG_USB_U_SERIAL=y
# CONFIG_U_SERIAL_CONSOLE is not set
CONFIG_V4L2_FLASH_LED_CLASS=y
CONFIG_VIDEOBUF2_DMA_SG=y
# CONFIG_VIDEO_AD5820 is not set
# CONFIG_VIDEO_AD9389B is not set
# CONFIG_VIDEO_ADP1653 is not set
# CONFIG_VIDEO_ADV7170 is not set
# CONFIG_VIDEO_ADV7175 is not set
# CONFIG_VIDEO_ADV7180 is not set
# CONFIG_VIDEO_ADV7183 is not set
# CONFIG_VIDEO_ADV7343 is not set
# CONFIG_VIDEO_ADV7393 is not set
# CONFIG_VIDEO_ADV748X is not set
# CONFIG_VIDEO_ADV7511 is not set
# CONFIG_VIDEO_ADV7604 is not set
# CONFIG_VIDEO_ADV7842 is not set
# CONFIG_VIDEO_AK7375 is not set
# CONFIG_VIDEO_AK881X is not set
# CONFIG_VIDEO_BT819 is not set
# CONFIG_VIDEO_BT856 is not set
# CONFIG_VIDEO_BT866 is not set
# CONFIG_VIDEO_CS3308 is not set
# CONFIG_VIDEO_CS5345 is not set
# CONFIG_VIDEO_CS53L32A is not set
# CONFIG_VIDEO_CX25840 is not set
# CONFIG_VIDEO_DW9714 is not set
# CONFIG_VIDEO_DW9807_VCM is not set
# CONFIG_VIDEO_ET8EK8 is not set
# CONFIG_VIDEO_GS1662 is not set
# CONFIG_VIDEO_HI556 is not set
# CONFIG_VIDEO_I2C is not set
# CONFIG_VIDEO_IMX214 is not set
# CONFIG_VIDEO_IMX219 is not set
# CONFIG_VIDEO_IMX258 is not set
# CONFIG_VIDEO_IMX274 is not set
# CONFIG_VIDEO_IMX290 is not set
# CONFIG_VIDEO_IMX319 is not set
# CONFIG_VIDEO_IMX355 is not set
# CONFIG_VIDEO_KS0127 is not set
# CONFIG_VIDEO_LM3560 is not set
# CONFIG_VIDEO_LM3646 is not set
# CONFIG_VIDEO_M52790 is not set
# CONFIG_VIDEO_M5MOLS is not set
# CONFIG_VIDEO_ML86V7667 is not set
# CONFIG_VIDEO_MSP3400 is not set
# CONFIG_VIDEO_MT9M001 is not set
# CONFIG_VIDEO_MT9M032 is not set
# CONFIG_VIDEO_MT9M111 is not set
# CONFIG_VIDEO_MT9P031 is not set
# CONFIG_VIDEO_MT9T001 is not set
# CONFIG_VIDEO_MT9T112 is not set
# CONFIG_VIDEO_MT9V011 is not set
# CONFIG_VIDEO_MT9V032 is not set
# CONFIG_VIDEO_MT9V111 is not set
# CONFIG_VIDEO_NOON010PC30 is not set
# CONFIG_VIDEO_OV13858 is not set
# CONFIG_VIDEO_OV2640 is not set
# CONFIG_VIDEO_OV2659 is not set
# CONFIG_VIDEO_OV2680 is not set
# CONFIG_VIDEO_OV2685 is not set
# CONFIG_VIDEO_OV5640 is not set
# CONFIG_VIDEO_OV5645 is not set
# CONFIG_VIDEO_OV5647 is not set
# CONFIG_VIDEO_OV5670 is not set
# CONFIG_VIDEO_OV5675 is not set
# CONFIG_VIDEO_OV5695 is not set
# CONFIG_VIDEO_OV6650 is not set
# CONFIG_VIDEO_OV7251 is not set
# CONFIG_VIDEO_OV7640 is not set
# CONFIG_VIDEO_OV7670 is not set
# CONFIG_VIDEO_OV772X is not set
# CONFIG_VIDEO_OV7740 is not set
# CONFIG_VIDEO_OV8856 is not set
# CONFIG_VIDEO_OV9640 is not set
# CONFIG_VIDEO_OV9650 is not set
# CONFIG_VIDEO_RJ54N1 is not set
# CONFIG_VIDEO_S5C73M3 is not set
# CONFIG_VIDEO_S5K4ECGX is not set
# CONFIG_VIDEO_S5K5BAF is not set
# CONFIG_VIDEO_S5K6A3 is not set
# CONFIG_VIDEO_S5K6AA is not set
# CONFIG_VIDEO_SAA6588 is not set
# CONFIG_VIDEO_SAA6752HS is not set
# CONFIG_VIDEO_SAA7110 is not set
# CONFIG_VIDEO_SAA711X is not set
# CONFIG_VIDEO_SAA7127 is not set
# CONFIG_VIDEO_SAA717X is not set
# CONFIG_VIDEO_SAA7185 is not set
# CONFIG_VIDEO_SMIAPP is not set
# CONFIG_VIDEO_SONY_BTF_MPX is not set
# CONFIG_VIDEO_SR030PC30 is not set
# CONFIG_VIDEO_ST_MIPID02 is not set
# CONFIG_VIDEO_TC358743 is not set
# CONFIG_VIDEO_TDA1997X is not set
# CONFIG_VIDEO_TDA7432 is not set
# CONFIG_VIDEO_TDA9840 is not set
# CONFIG_VIDEO_TEA6415C is not set
# CONFIG_VIDEO_TEA6420 is not set
# CONFIG_VIDEO_THS7303 is not set
# CONFIG_VIDEO_THS8200 is not set
# CONFIG_VIDEO_TLV320AIC23B is not set
# CONFIG_VIDEO_TVAUDIO is not set
# CONFIG_VIDEO_TVP514X is not set
# CONFIG_VIDEO_TVP5150 is not set
# CONFIG_VIDEO_TVP7002 is not set
# CONFIG_VIDEO_TW2804 is not set
# CONFIG_VIDEO_TW9903 is not set
# CONFIG_VIDEO_TW9906 is not set
# CONFIG_VIDEO_TW9910 is not set
# CONFIG_VIDEO_UDA1342 is not set
# CONFIG_VIDEO_UPD64031A is not set
# CONFIG_VIDEO_UPD64083 is not set
# CONFIG_VIDEO_VP27SMPX is not set
# CONFIG_VIDEO_VPX3220 is not set
# CONFIG_VIDEO_VS6624 is not set
# CONFIG_VIDEO_WM8739 is not set
# CONFIG_VIDEO_WM8775 is not set
# CONFIG_VT6655 is not set
# CONFIG_VT6656 is not set
# CONFIG_WCN36XX_DEBUGFS is not set
# CONFIG_WFX is not set
# CONFIG_WILC1000_SDIO is not set
# CONFIG_WILC1000_SPI is not set
# CONFIG_WIRELESS_WDS is not set
# CONFIG_XDP_SOCKETS is not set
CONFIG_XFRM=y
CONFIG_XFRM_ALGO=y
CONFIG_XFRM_INTERFACE=y
CONFIG_XFRM_IPCOMP=y
# CONFIG_XFRM_MIGRATE is not set
CONFIG_XFRM_STATISTICS=y
# CONFIG_XFRM_SUB_POLICY is not set
# CONFIG_XIL_AXIS_FIFO is not set
# CONFIG_ZEROPLUS_FF is not set
